.inner-module-container .header {
    width: 100%;
    position: fixed;
    z-index: 1;
}
.message-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.message-content .inner-container {
    width: 60rem;
    padding: 1% 0%;
    margin-top: 5rem;
}