<div class="message-container">
    <div class="inner-module-container">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="message-content">
            <div class="inner-container">
                <div class="row">
                    <div class="col-xl-5">
                        
                    </div>
                    <div class="col-xl-7">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
