<div class="row">
    <div class="col-xl-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-xl-10">
        <div class="add-story-container">
            <h4>Add Story</h4>
            <div class="row">
                <div class="col-sm-4">
                    Add image
                </div>
                <div class="col-sm-8">
                    <input type="text" placeholder="Story name" class="form-control">
                </div>
            </div>
            <textarea name="story" class="form-control" cols="30" rows="10" placeholder="Write your story"></textarea>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
