.header-container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid rgb(201, 201, 201);
}
mat-toolbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 60rem;
}
mat-toolbar h1{
    font-family: "logo font";
    font-size: 50px;
}
