<div class="row">
    <div class="col-xl-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-xl-10">
        <div class="add-product-container">
            <h4>Add Products</h4>
            <br>
            <h3>Add image</h3><br>
            <input type="text" placeholder="Product name" class="form-control"><br>
            <input type="text" placeholder="Price" class="form-control"><br>
            <textarea name="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
    </div>
</div>
