<div class="footer-container">
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/icons/logo1.jpg">
        </div>
        <div class="col-md-6">
            <h3>Contact Us</h3>
            <p>Address :</p>
            <p> H. no. 5 Shankar Garden near Ashoka Garden, Bhopal M.P.</p><br>
            <p>Pincode :</p>
            <p>426023</p><br>
            <p>Email id :</p>
            <p>hiteshahirwar1902@gmail.com</p><br>
            <p>Contact number :</p>
            <p>+91 6260974064</p>
        </div>
        <div class="col-md-2">
            <div class="inner-follow">
                <h3>Follow Us</h3>
                <p class="media-images">
                    <a href="https://www.facebook.com/Marvel/" target="_blank"><img src="../../assets/icons/facebook.png" alt=""></a>
                    <a href="http://instagram.com/marvel" target="_blank"><img src="../../assets/icons/instagram.png" alt=""></a>
                    <a href="https://marvelentertainment.tumblr.com/" target="_blank"><img src="../../assets/icons/snapchat.png" alt=""></a>
                </p>
            </div>
            
        </div>
        <div class="col-md-1"></div>
    </div>
</div>