<div class="product-detail-container">
    <h2>Radium Dog belt</h2>
    <div class="product-pictures">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/images/belt3.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/belt4.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/belt5.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="product-description">
        <h4>Description</h4>
        <p>
            A pet, or companion animal, is an animal kept primarily for a person's company or entertainment rather than as a working animal, livestock or a laboratory animal. Popular pets are often considered to have attractive appearances, intelligence and relatable personalities, but some pets may be taken in on an altruistic basis (such as a stray animal) and accepted by the owner regardless of these characteristics.

            Two of the most popular pets are dogs and cats; the technical term for a cat lover is an ailurophile and a dog lover a cynophile. Other animals commonly kept include: rabbits; ferrets; pigs; rodents, such as gerbils, hamsters, chinchillas, rats, mice, and guinea pigs; avian pets, such as parrots, passerines and fowls; reptile pets, such as turtles, alligators, crocodiles, lizards, and snakes; aquatic pets, such as fish, freshwater and saltwater snails, amphibians like frogs and salamanders; and arthropod pets, such as tarantulas and hermit crabs. Small pets may be grouped together as pocket pets, while the equine and bovine group include the largest companion animals.
        </p>
    </div>
    <div class="quantity-price">
        <div class="row">
            <div class="col-sm-6">
                <span style="font-size: 20px; color: rgb(231,5,5);"><b>Rs.80</b></span>
            </div>
            <div class="col-sm-6">
                <span class="add-quantity">
                    <button>-</button>&nbsp;&nbsp;&nbsp;&nbsp;<span><b>0</b></span>&nbsp;&nbsp;&nbsp;&nbsp;<button>+</button>
                </span>
            </div>
        </div>
    </div>
    <div class="add-to-cart">
        <button><b>Add to Cart</b></button>
    </div>
</div>
