<div class="home-container">
    <div class="inner-module-container">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="home-content">
            <div class="inner-container">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="post">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="../../../assets/images/cat1.jpeg">
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="row"><div class="col-sm-12"><span>__.hiteshahirwar</span></div></div>
                                        <div class="row"><div class="col-sm-12">Bhopal, India</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-image">
                                <img src="../../../assets/images/dog1.jpg">
                            </div>
                            <div class="action-btn">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button><img src="../../../assets/icons/like.png"></button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button><img src="../../../assets/icons/comment.png"></button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button><img src="../../../assets/icons/share.png"></button>
                                    </div>
                                    <div class="col-sm-9"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        21
                                    </div>
                                    <div class="col-sm-1">
                                        5
                                    </div>
                                    <div class="col-sm-1">
                                        1
                                    </div>
                                    <div class="col-sm-7"></div>
                                </div>
                            </div>
                            <div class="post-status">
                                <p><span>__.hiteshahirwar</span> this is my first story</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-5">
                        <p>
                            Popular Accounts
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>