.explore-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.explore-content .inner-container {
    width: 60rem;
    padding: 1% 0%;
    margin-top: 5rem;
}
.explore-content .explore-tab .row .col-sm-2 button {
    border: 2px solid rgb(65, 65, 65);
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    background-color: white;
    text-align: center;
    padding: 3px 20px;
}
.explore-content .explore-tab .row .col-sm-2 button:hover {
    opacity: 0.9;
}
.explore-content .explore-tab .row .col-sm-2 button:focus {
    outline: none;
    color: white;
    background: linear-gradient(180deg, #0ac28b, #47d8c0);
}
.explore-content .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
.explore-content .filter-explore {
    margin: 1%;
    display: flex;
    justify-content: space-between;
}
.explore-content .trending {
    margin: 1% 0%;
    margin-bottom: 3%;
}
.explore-content .trending .heading {
    display: flex;
    justify-content: left;
    color: rgb(143, 143, 143);
    font-size: 20px;
}
.explore-content .trending .heading span {
    padding-right: 10px;
}
.explore-content .trending-content .row {
    background-color: white;
}
.explore-content .trending-content .row .col-lg-6 {
    width: 30rem;
    height: 30rem;
    text-align: center;
}
.explore-content .trending-content .row .col-lg-6 .video-container .col-lg-12 {
    border: 7px solid rgb(255, 255, 255);
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 30rem;
}
.explore-content .trending-content .row .col-lg-6 .video-container video {
    display: block;
}
.explore-content .trending-content .col-lg-6 .col-md-6 {
    padding: 7px;
    width: 15rem;
    height: 15rem;
}
.explore-content .trending-content .col-lg-6 .col-md-6 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}