<div class="notification-content">
    <div class="request-tabs">
        <div class="row">
            <div class="col-sm-4">
                <button>Request</button>
            </div>
            <div class="col-sm-4">
                <button>Adopt & Donate</button>
            </div>
            <div class="col-sm-4">
                <button>Buy & Sell</button>
            </div>
        </div>
    </div>
    <div class="all-notifications">
        <div class="notification">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="../../../assets/icons/avatar.png">
                </div>
                <div class="col-sm-10">
                    <p><span>__.hiteshahirwar &nbsp;</span>started following you</p>
                </div>
            </div>
        </div>
    </div>
</div>
