<div class="profile-content">
    <div class="inner-container">
        <div class="profile-images">
            <div class="cover-image">
                <img src="../../assets/images/s10.jpg">
            </div>
            <div class="main-image">
                <div class="row">
                    <div class="col-lg-5">
                        <div>
                            <img src="../../assets/images/p5.jpg">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="username">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span>__.hiteshahirwar&nbsp;&nbsp;</span>
                                    <img src="../../assets/icons/settings.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>543</span>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <span>101</span>
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>FOLLOWING</span>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <span>FOLLOWERS</span>
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-status">
            <h1>Hitesh Ahirwar</h1>
            <p>This is my profile</p>
        </div>
        <div class="share-content">
            <mat-tab-group mat-align-tabs="center" style="z-index: 0;">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img src="../../assets/icons/gallery.png" width="30" height="30">
                    </ng-template>
                    <div class="post-images">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="../../assets/images/s13.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s12.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s11.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s10.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s9.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s8.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s7.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s6.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s5.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s4.jpg">
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img src="../../assets/icons/tag.png" width="30" height="30">
                    </ng-template>
                    <div class="post-images">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="../../assets/images/s3.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s4.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s5.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s6.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s7.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s8.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s9.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s10.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s11.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s12.jpg">
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img src="../../assets/icons/save.png" width="30" height="30">
                    </ng-template>
                    <div class="post-images">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="../../assets/images/s1.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s2.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p7.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p6.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p5.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p4.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p3.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p2.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/p1.jpg">
                            </div>
                            <div class="col-lg-3">
                                <img src="../../assets/images/s5.jpg">
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>