.rescue-container {
    margin: 5rem 10rem;
}
.rescue-container .story-card {
    margin: 2rem 0rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rescue-container .story-card .row {
    margin: 0;
    padding: 0;
}
.rescue-container .story-card .row .col-lg-4 {
    overflow: hidden;
}
.rescue-container .story-card .row .col-lg-4 img {
    width: 100%;
}
.rescue-container .story-card .row .col-lg-8 {
    padding: 20px;
}
.rescue-container .story-card .row .col-md-3 {
    padding: 10px;
    overflow: hidden;
}
.rescue-container .story-card .row .col-md-3 img {
    width: 100%;
}

/*responsive design*/
@media only screen and (max-width: 500px) {
    .rescue-container {
        margin: 0px 10px;
    }
}