<div class="rescue-container">
    <div class="story-card">
        <div class="row">
            <div class="col-lg-4">
                <img src="../../../assets/images/belt3.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <h4>Paralized Dog</h4>
                <p>
                    Some story
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/images/belt4.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/images/belt4.jpg" alt="">
            </div>
        </div>
    </div>
</div>