<div class="header-container">
    <div class="header-content">
        <h1>Pubmake_villa</h1>
        <p>Products for your pets</p>
    </div>
</div>
<div class="header-navbar">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-2" routerLink="/">
            Home
        </div>
        <div class="col-md-2" routerLink="/products">
            Products
        </div>
        <div class="col-md-2" routerLink="/rescue">
            Rescue
        </div>
        <div class="col-md-1" style="border-left: 1px solid white; display: flex; justify-content: center; align-items: center;">
            <span matBadge="2" matBadgeColor="accent">
                <img src="../../assets/icons/cart.png" alt="" style="width:27px; height:27px;">
            </span>
        </div>
    </div>
</div>
<div class="header-responsive-navbar">
    <div class="tabs" routerLink="/">
        Home
    </div>
    <div class="tabs" routerLink="/products">
        Products
    </div>
    <div class="tabs" routerLink="/rescue">
        Rescue
    </div>
</div>