<div class="header-container">
    <div class="header-content">
        <h1>Pubmake_villa</h1>
        <p>Products for your pets</p>
    </div>
</div>
<div class="header-navbar">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-2">
            Home
        </div>
        <div class="col-md-2">
            Products
        </div>
        <div class="col-md-2">
            Rescue
        </div>
    </div>
</div>
<div class="header-responsive-navbar">
    <div class="tabs">
        Home
    </div>
    <div class="tabs">
        Products
    </div>
    <div class="tabs">
        Rescue
    </div>
</div>