<div class="home-content">
    <div class="inner-container">
        <div class="row">
            <div class="col-xl-7">
                <div class="post">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="../../assets/images/p1.jpg">
                            </div>
                            <div class="col-sm-11">
                                <div class="row"><div class="col-sm-12"><span>__.hiteshahirwar</span></div></div>
                                <div class="row"><div class="col-sm-12">Bhopal, India</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="../../assets/images/s1.jpg">
                    </div>
                    <div class="action-btn">
                        <div class="row">
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/like.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/comment.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/share.png"></button>
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/save.png"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                21
                            </div>
                            <div class="col-sm-1">
                                5
                            </div>
                            <div class="col-sm-1">
                                1
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>
                    <div class="post-status">
                        <p><span>sidgonna_official</span> this is my first story</p>
                    </div>

                </div>

                <div class="post">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="../../assets/images/p5.jpg">
                            </div>
                            <div class="col-sm-11">
                                <div class="row"><div class="col-sm-12"><span>__.hiteshahirwar</span></div></div>
                                <div class="row"><div class="col-sm-12">Bhopal, India</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="../../assets/images/s10.jpg">
                    </div>
                    <div class="action-btn">
                        <div class="row">
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/like2.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/comment.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/share.png"></button>
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/save.png"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                501
                            </div>
                            <div class="col-sm-1">
                                67
                            </div>
                            <div class="col-sm-1">
                                23
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>
                    <div class="post-status">
                        <p><span>__.hiteshahirwar</span> this is my first story</p>
                    </div>

                </div>

                <div class="post">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="../../assets/images/p3.jpg">
                            </div>
                            <div class="col-sm-11">
                                <div class="row"><div class="col-sm-12"><span>__.hiteshahirwar</span></div></div>
                                <div class="row"><div class="col-sm-12">Bhopal, India</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="../../assets/images/s7.jpg">
                    </div>
                    <div class="action-btn">
                        <div class="row">
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/like2.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/comment.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/share.png"></button>
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/save.png"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                501
                            </div>
                            <div class="col-sm-1">
                                67
                            </div>
                            <div class="col-sm-1">
                                23
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>
                    <div class="post-status">
                        <p><span>__.hiteshahirwar</span> this is my first story</p>
                    </div>

                </div>

                <div class="post">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="../../assets/images/p7.jpg">
                            </div>
                            <div class="col-sm-11">
                                <div class="row"><div class="col-sm-12"><span>__.hiteshahirwar</span></div></div>
                                <div class="row"><div class="col-sm-12">Bhopal, India</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="../../assets/images/s8.jpg">
                    </div>
                    <div class="action-btn">
                        <div class="row">
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/like2.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/comment.png"></button>
                            </div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/share.png"></button>
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-1">
                                <button><img src="../../assets/icons/save.png"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                501
                            </div>
                            <div class="col-sm-1">
                                67
                            </div>
                            <div class="col-sm-1">
                                23
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>
                    <div class="post-status">
                        <p><span>__.hiteshahirwar</span> this is my first story</p>
                    </div>

                </div>
            </div>
            <div class="col-xl-5">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>