<div class="row">
    <div class="col-xl-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-xl-10">
        <div class="completed-orders-container">
            <h4>Completed Orders</h4>
            <div class="customer-order-details">
                <div class="customer-details">
                    <h5>Customer Details</h5>
                    <label for="name">Name : </label><span><b> Hitesh Ahirwar</b></span><br>
                    <label for="contact">Contact : </label><span><b> 6260974064</b></span><br>
                    <label for="address">Address : </label><span><b> H. no. 5 Shankar Garden near Sundar nagar Ashoka Garden in fron of Ektapuri colony, Bhopal, Madhya Pradesh India </b></span><br>
                    <label for="pincode">Pincode : </label><span><b> 426023</b></span><br>
                    <label for="date">Date : </label><span><b> 14/04/2019 6:30AM</b></span>
                </div>
                <div class="ordered-products">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="../../../assets/images/belt2.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <h5>Radium Dog color</h5>
                        </div>
                        <div class="col-sm-2">
                            <h5>Rs.20</h5>
                        </div>
                        <div class="col-sm-2">
                            <h5>Quantity : 2</h5>
                        </div>
                    </div>
                </div>
                <div class="total-amount">
                    <h3>Total : 430</h3>
                </div>
            </div>
        </div>
    </div>
</div>